<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.philips.lighting.quickstart"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PHHomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyApplicationActivity"
            android:label="@string/txt_selectbridges" >
        </activity>
        <activity
            android:name=".PHPushlinkActivity"
            android:label="@string/app_name" >
        </activity>

        <receiver android:name=".ServiceReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".push_color"
            android:label="@string/title_activity_push_color" >
        </service>
        <service
            android:name=".NotificationReceive"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".led_display"
            android:label="@string/title_activity_led_display" >
        </activity>
        <activity
            android:name=".alam_display"
            android:label="@string/title_activity_alam_display" >
        </activity>
        <activity
            android:name=".AlamApplicationActivity"
            android:label="@string/title_activity_alam_application" >
        </activity>
        <activity
            android:name=".select_led_activity"
            android:label="@string/title_activity_select_led_activity" >
        </activity>
        <activity
            android:name=".led_settingActivity"
            android:label="@string/title_activity_led_setting" >
        </activity>
        <activity
            android:name=".PHHomeActivity_Find"
            android:label="@string/title_activity_phhome_activity__find" >
        </activity>
        <activity
            android:name=".setting_Bridge"
            android:label="@string/title_activity_setting__bridge" >
        </activity>
        <activity
            android:name=".light_settingActivity"
            android:label="@string/title_activity_light_setting" >
        </activity>
        <activity
            android:name=".external_display"
            android:label="@string/title_activity_external_display" >
        </activity>
        <activity
            android:name=".external_MyApplicationActivity"
            android:label="@string/title_activity_external__my_application" >
        </activity>
    </application>

</manifest>
